<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{{block "title"}}} | Express Framework Easy Starter</title>
  <link rel="stylesheet" type="text/css" href="/theme.css">
  {{{block "pageStyles"}}}
</head>
<body class="{{{block "bodyClass"}}}">

  {{{body}}}

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/parsleyjs/dist/parsley.min.js"></script>

  {{{block "pageScripts"}}}
</body>
</html>
